@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(20, 20, 20);
}

.neon-text{
  text-transform: uppercase;
  font-size: 10rem;
  cursor: pointer;
  transition: .3s linear;
  color: transparent;
  -webkit-text-stroke: 0.1px #1DB954; 
  background-image: linear-gradient(to left, 
  #1DB954, rgba(0, 255, 68, 0.4), black, rgb(35 ,31 ,31));
  background-size: 200%;
  -webkit-background-clip: text;
  animation: move 30s linear infinite;
}

@keyframes move{
  100%{
    background-position: 2000px 0;
  }
}

.neon-text:hover{
  color: #1DB954;
  text-shadow: 0 0 10px rgba(0, 255, 68, 0.4),
               0 0 20px rgba(0, 255, 68, 0.4),
               0 0 40px rgba(0, 255, 68, 0.4),
               0 0 80px rgba(0, 255, 68, 0.4);
}